body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.header
{
    background: #F2E2FF;
    display: flex;
    height: 111px;
    padding: 0px 120px;
    justify-content: space-between;
    align-items: center;
}   
.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo p
{
    width: 117px;
    height: 25px;
    flex-shrink: 0;
    color: #410075;
    text-align: center;
    font-family: Audiowide;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.header h1 {
    margin: 0;
    font-size: 24px;
    padding-left: 20px;
}
.header nav {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
.header nav a {
    color: var(--Neutral-300, #999);
    display: flex;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    text-decoration: none;
}
.header nav a 
{

}
.header nav a:hover {
    text-decoration: none;
    color: var(--Primary-Purple3, #410075);
}
.header .info {
    display: flex;
    gap: 20px;
    font-size: 14px;
    padding-right: 20px;
}
.icon_container {
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử con */
    width: 44px; /* Chiều rộng của container */
    height: 44px; /* Chiều cao của container */
    padding: 10px 12px; /* Padding bên trong container */
    justify-content: center; /* Căn giữa các phần tử con theo chiều ngang */
    align-items: center; /* Căn giữa các phần tử con theo chiều dọc */
    gap: 10px; /* Khoảng cách giữa các phần tử con */
}
.icon_thongbao, .icon_giohang {
    display: flex;
width: 44px;
height: 44px;
justify-content: center;
align-items: center;
gap: 10px;

}
.icon_thongbao img, .icon_giohang img {
    padding: 5px;
    border-radius: 300px;
    background: var(--Primary-Purple4, #E5C3FF);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}   
.auth_links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.auth_links a {
    color: var(--Neutral-300, #999);
text-align: center;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 122.222% */
text-decoration: none;
}

.auth_links a:hover {
    text-decoration: underline;
}
