/* Start: Login Form Wrapper */

.register-form {
    display: flex;
    margin-top: 85px;
    margin-bottom: 96px;
}

/* Start: Login Form */

.register-form-body {
    flex: 50%;
    padding: 60px;
    background-color: #FBF6FF;
    border-radius: 20px;
}

/* Start: Header */

.register-form-header {
    position: relative;
    margin-bottom: 36px;
}

.register-form-icon {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-form-title {
    text-transform: uppercase;
    color: #410075;
    font-weight: bold;
    font-size: 36px;
}

/* End: Header */

/* Start: Input */
.register-form-group {
    margin-bottom: 31px;
}

/* End: Input */

/* Start: Action */

.register-form-action {
    margin-top: 50px;
}

/* Start: Register Link */

.register-form-link {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #595959;
}

/* End: Register Link */

/* End: Action */

/* End: Login Form */

/* Start: Background Visual */
.register-form-background {
    flex: 50%;
    background: radial-gradient(circle at center,
            #ffffff 0%,
            #d7f1f6 25%,
            #A1BE97 50%,
            #A1BE97 100%);

    padding: 40px 30px;
    border-radius: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: center;
    text-align: center; */
    position: relative;
    overflow: hidden;
}

.register-form-slogan {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 40px;
    line-height: 1.4;
    max-width: 400px;
}

.register-form-background-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-background-img img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* End: Background Visual */


/* End: Login Form Wrapper */